body, html {
    font-family: Arial, sans-serif;
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
}

.center
{
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navbar a {
    color: white;
    margin: 30px;
    text-decoration: none;
}

.navbar-items {
    display: flex;
    /*align-items: center;*/
}

#company {
    float: left;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    vertical-align: center;
}

.search-container {
    float: right;
    padding: 14px 16px;
}

#searchDestination {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 10px;
}

.btn {
    color: lightseagreen;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}


.btn:hover {
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
}

#btnBook {
    color: white;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    font-size: 20px;
    font-weight: bold;
}

#home {
    display: flex;
    height: 100%;
    width: 100%;
}

.social-media {
    display: block;
    margin-left: 15px;
}

.vertical-line {
    border-left: 2px solid white;
    height: 300px;
    margin: 30px 15px;
}

.social-media-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 45px;
    margin-top: 100px;
    color: white;
}

.social-media-item {
    display: flex;
    float : left;
    flex-direction: column;
    align-items: center;
}

.social-media-btn {
    color: white;
    margin: 10px 0;
}

.information {
    /*display: flex;*/
    /*flex-direction: column;*/
    height: fit-content;
    margin-top: 25px;
    margin-left: 25px;
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
    border-radius: 20px;
}

.information-title {
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
}

.information-body{
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    margin:10px;
}

#btnBook{
    color: white;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    font-size: 20px;
    font-weight: bold;
}

#result{
    margin-top: 25px;
    margin-left: 25px;
    width: 450px;
    height: 100px;
}

#result img {
    width: 450px;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

#result h2 {
    margin: 20px;
}

#result p {
    margin: 20px;
    color: rgb(158, 147, 147);
    font-size: 18px;
    font-weight: normal;
}

.btnVisit {
    margin: 10px 20px;
    background-color: lightseagreen;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: medium;
}

.search-result {
    margin-bottom: 25px;
    background-color: white;
    border-radius: 10px;
}

.invisible {
    display: none;
}