body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.navbar {
    background-color: black;
    color: white;
    overflow: hidden;
    display: flex;
    height: auto;
    width: auto;
    justify-content: space-between ;
}
.navbar a {
    color: white;
    margin: 30px;
    text-align: center;
    text-decoration: none;
}

.navbar-items {
    display: flex;
    align-items: center;
}

#company {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    vertical-align: center;
}

.search-container {
    float: left;
    padding: 14px 16px;
}

#searchDestination {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 10px;
}

.btn {
    display: flex;
    color: lightseagreen;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.btn:hover {
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
}

#home {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
}

.social-media {
    display: block;
    margin-left: 15px;
}

.vertical-line {
    border-left: 2px solid white;
    height: 300px;
    margin: 30px 15px;
}

.social-media-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 45px;
    margin-top: 100px;
    color: white;
}

.social-media-item {
    display: flex;
    float : left;
    flex-direction: column;
    align-items: center;
}

.social-media-btn {
    color: white;
    margin: 10px 0;
}

.information {
    float: left;
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 600px;
    height: 500px;
    margin-top: 25px;
    margin-left: 30px;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 20px;
    color: white;
}

.information-title {
    float: left;
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
}

.information-body{
    float: left;
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin:20px;
}

#result{
    margin-top: 25px;
    margin-left: 25px;
}

#result div {
    width: 400px;
    margin-bottom: 25px;
    color: black;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#result div img {
    border-radius: 20px;
}

#result div button {
    color: white;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
}
